<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.example.demo.mapper.UserMapper">
	<select id="getAllUser" resultType="UserDTO">
		SELECT * FROM todolist
	</select>
	<insert id="InsertText" parameterType="UserDTO">
		INSERT INTO todolist (text, date) VALUES (#{text}, #{date})
	</insert>
	<delete id="DeleteText" parameterType="int">
		DELETE FROM todolist WHERE id = #{id}
	</delete>
	<update id="UpdateText" parameterType="UserDTO">
		UPDATE todolist SET text = #{text} WHERE id = #{id}
	</update>
	<update id="Check">
		UPDATE todolist SET checked = #{checked} WHERE id = #{id}
	</update>
</mapper>